:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --active-color: #2196f3;
  --white-color: #ffffff;
  --link-color-rgba: rgba(255, 255, 255, 0.6);
  --bg-dark: #2f303a;
  --bg-light: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.vector {
  fill: aqua;
}

.vector:hover {
  fill: crimson;
}